.upper__content
  p.upper__text-under-title
    | You don’t need to be Irish to celebrate St. Patrick’s Day, but it might help. After all, St. Patrick himself wasn’t Irish, and neither did he drive any snakes out of Ireland (there never were any there to begin with). Let’s leave behind the myths and confusion, and take a look at the hard numbers behind some St. Patrick’s Day traditions and practices.

  p.upper__text-under-title
    | So, break out your shillelagh, grab a pint, and enjoy some fun facts and figures about St. Patrick’s Day, presented by RewardExpert.
