$upper-img-width = 260px

.upper__content
  position: relative

.upper__text-under-title
  @extend .under-title
  +respond-to($xsmall)
    font-size: 16px

.upper__text-under-title--last
  +respond-to($small)
    margin-left: 0

.upper__text-main
  @extend .main-text
